/* 
    File: lab8-1.css
    Made by Tommy Le and Jonathan Thang
    Last Modified: 3/8/2024
*/

div.firstpage h1
{
    font-family: 'Poppins';
    display: flex;
    justify-content: left;
    margin-left: 1em;
    margin-right: 1em;
    text-wrap: wrap;
    font-size: 9.5em;
    box-shadow: 6px 6px;
    margin-bottom: .5em;
}

div.firstpage p
{
    margin-top: .5em;
    font-size: 2em;
    margin-left: 5.54em;
}


.firstpage form
{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    margin: 1em;
       
}

.firstpage fieldset
{
    font-family: 'Poppins';
    border-style: none;

}

p
{
    display: flex;
    justify-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

div.firstpage form
{
    margin-top: 1em;
    font-size: 2em;
    display: flex;
    justify-content: left;
    margin-left: 5em;
}

div.firstpage form input[type="number"]
{
    block-size: 1em;
    font-size: 1em;
}

div.firstpage form input[type="submit"]
{
    width: 250px;
    height: 70px;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    text-align: center;
    box-shadow: 0 6px 20px -5px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 7.5em;
}

h1.billsplit
{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    font-size: 4.5em;
}
div.formy
{
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

div.formy form
{
    border: solid black;
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
    padding-bottom: 10em;


}

div.formy input[type="text"]
{
    font-size: 2.5em;

    margin-top: .5em;
    margin-bottom: .5em;

}

div.formy fieldset
{
    border: none;
    padding-top: 2em;
    padding-bottom: 2em;


}

div.formy form label
{
    font-size: 2.5em;
    font-family: 'Poppins';
}

div.formy input[type="submit"]
{
    width: 250px; 
    height: 70px;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    box-shadow: 0 6px 20px -5px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 30%;

}



/*
h2{
    margin-bottom: 5%;
}

form.mainform
{
    display: grid;
    grid-template-columns: 50% 50%;
}

fieldset
{
        border-style: none; 
    font-family: 'Poppins';
}

fieldset.stores
{
    grid-column: 2 / 3;
}

fieldset.numsplit
{
    grid-column: 1 / 2;

} 

input[type="submit"]
{
    grid-column: 2 / 3;
    width: 15em;
    margin-top: 5%;
    margin-bottom: 50em;
   
}

p{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    text-align: center;
}

*/
